@import 'settings';
@import 'foundation';
@import 'pod-styles';

@import 'ember-paper';

$row-width: rem-calc(1280);

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.slide {
  position: relative;

  .columns {
    padding-left: 0;
    padding-right: 0;
  }

  #left-panel {
    position: absolute;
    left: 0px;
    top: 10px;
    width: 275px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.14), 0px 2px 2px 0px rgba(0, 0, 0, 0.098), 0px 1px 5px 0px rgba(0, 0, 0, 0.084);
    border-radius: 0 5px 5px 0px;

    &>div {
      margin: 10px;
    }
  }

  #right-panel {
    position: absolute;
    right: 0px;
    top: 10px;
    width: 200px;
    z-index: 999;
    padding: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
    background-color: rgba(255, 255, 255, 1);
  }
}

.join-wrapper {
  width:400px;
  margin: 0px auto;
  padding: 10px;

  .inner-card {
    background: rgba(0, 188, 212, 0.08);
  }

  h2 {
    font-size: 16px;
    color: #3F51B5;
    font-weight: bold;
  }

  p {
    font-size: 14px;
  }
}

.landing-wrapper {
  overflow-y: scroll;
  display: block;
  height: calc(100vh - 45px);
}
