<div class="owl-carousel owl-theme">
  {{#paper-card class="card"}}
      <div class="row">
        <div class="columns">
            <img src="http://d1zlh37f1ep3tj.cloudfront.net/wp/wblob/54592E651337D2/22DA/3E75E5/_cCyPoB9Eb1_JTP8ZL_ZuA/EmilysQuotes.Com-Intelligence-teach-learning-Benjamin-Franklin.jpg">
        </div>
      </div>

      <div class = "row">
        <div class = "small-12 medium-12 large-12 columns">
            <h2>Paracosm</h2>
            <p>The titles of Washed</p>
        </div>
      </div>
      <div class = "row buttonBar">
        <div class = "small-6 medium-6 large-6 columns">
          {{#paper-button}}Action 1{{/paper-button}}
        </div>
        <div class = "small-6 medium-6 large-6 columns">
          {{#paper-button}}Action 2{{/paper-button}}
        </div>
      </div>
  {{/paper-card}}
</div>
