<div class="owl-carousel owl-theme">
  {{#paper-card class="teach-card"}}
     <img src={{snapshotImg}}>
     {{#paper-card-content}}
       <h4>{{title}}</h4>
       <p>{{description}}</p>
     {{/paper-card-content}}
     {{paper-divider}}
     <div class="md-actions" layout="row" layout-align="end center">
      {{#unless live}}
        {{#paper-button  primary=true action="presentCourse" param=id }}Present{{/paper-button}}
      {{/unless}}
      {{#paper-button  primary=true action="joinCourse" param=id  }}Join{{/paper-button}}
     </div>
   {{/paper-card}}
</div>
