<div class="reveal-frame">
  <div class="reveal">
      <div class="slides">
          {{#each slide in data.slides}}
            <section type={{slide.type}} slide={{slide.id}}>{{slide.content}}</section>
          {{/each}}
      </div>
  </div>
</div>
