<div class="slide">
  <div class="row fullWidth">
    <div id="left-panel">
      {{#if questionData}}
        {{teach-question question=questionData}}
      {{/if}}
    </div>
    <div class="small-12 medium-12 large-12 columns">
      {{teach-reveal-slide data=data slideQuestion=(action 'slideQuestion') slideInfo=(action 'slideInfo')}}
    </div>
    <div id="right-panel">
      {{teach-list}}
      <button type="button" name="button" {{action 'addUser'}}>Add User</button>
    </div>
  </div>
</div>
