.question-wrapper {
  padding: 10px;
  .question{
    font-size: 1.0em;
    font-weight: bold;
  }

  .timer{
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
  }

  .buttonClass{
    width: 100%;
  }

  button {
    margin-left: 0px;
  }

  .success-font{
    color: #5a8532;
    font-weight: bold;
  }
}
